body{
    background-color:black;
}

.header{
   
    background-color:slategray;
    color:black;
    

}


.container {
    display: flex;
    flex-wrap: wrap;
    align-content:flex-end;
    justify-content: flex-end;
    
}

.item-1 {
    flex: 1;
    border: solid black;
}

.item-2 {
    flex: 1;
}

.item-3{
    flex: 1;
}